@model CallPlan

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="modal fade" id="EditCallPlan-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="EditCallPlanLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditCallPlanLabel">MANAGE CALL PLAN</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Id"/>
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VisitType" class="control-label"></label>
                        <input asp-for="VisitType" class="form-control" />
                        <span asp-validation-for="VisitType" class="text-danger"></span>
                    </div>
                    @*<div class="form-group form-check">
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="Complete" /> @Html.DisplayNameFor(model => model.Complete)
                    </label>
                    </div>*@
                    <div class="form-group">

                        @*<label asp-for="Complete" class="control-label"></label>*@
                        @Html.LabelFor(model => model.Complete, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.DropDownListFor(model => model.Complete, new List<SelectListItem>
                        {
                        new SelectListItem {Text = "Yes", Value = "True", Selected = true },
                        new SelectListItem {Text = "No", Value = "False" }
                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Complete, "", new { @class = "text-danger" })
                    </div>

                    <div class="modal-footer">
                        <input type="submit" value="Save"  class="btn btn-primary">
                        @*<button type="button" class="btn btn-primary">Save</button>*@
                        <button type="button" class="btn btn-primary btn-dark" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
        type="text/javascript">
</script>

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
        type="text/javascript">
</script>