@model IEnumerable<CallPlanApp.Models.CallPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Call Plan</h1>


@*<p>
    <a asp-action="Create"><button type="button" style="float:right" class="btn btn-primary" >ADD CALL PLAN</button></a>
</p>*@
<button type="button" style="float:right" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCallPlan">
    Add Call Plan
</button>

<table class="table table-responsive table-border ">
    <thead>
        <tr class="table-active table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complete)
            </th>
            <th>
                MORE
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitType)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Complete)*@
                        @*@(item.Complete ? "Yes" : "No")*@
                        @if (item.Complete)
                        {
                            <button type="button" class="btn btn-success">Yes</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-danger">No</button>
                        }
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">...</button>
                            <div class="dropdown-content">
                                <a @*data-bs-toggle="modal"
                           data-bs-target="@("#EditCallPlan-"+ item.Id)"
                           data-bs-url="@Url.Action($"Edit/{item.Id}")"*@
                                   onclick="Edit(@item.Id)">Edit</a>
                                <a data-bs-toggle="modal"
                                   data-bs-target="@("#DetailsCallPlan-" + item.Id)"
                                   data-bs-url="@Url.Action($"Details/{item.Id}")"
                                @*onclick="Details(@item.Id)"*@>Details</a>
                                <a data-bs-toggle="modal"
                                   data-bs-target="@("#DeleteCallPlan-" + item.Id)"
                                   data-bs-url="@Url.Action($"Delete/{item.Id}")">Delete</a>
                            </div>
                            @await Html.PartialAsync("_EditCallPlanPartialView_new", item)
                            @await Html.PartialAsync("_DeleteCallPlanPartialView", item)
                            @await Html.PartialAsync("_DetailsCallPlanPartialView", item)
                        </div>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>

            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <div>
                        No data available at this moment!
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

@section scripts{
    <script>

        function Edit(id) {
            $.ajax({
                type: 'GET',
                url: '/CallPlans/Edit?Id=' + id,
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    isNew = false;

                    ID = data.id;
                    $('#Id').val(data.data.callPlan.id);
                    $('#Name').val(data.data.callPlan.name);
                    var newDate = data.data.callPlan.startDate.toString('dd-MM-yyyy');
                    $('#StartDate').val(newDate);
                    $('#VisitType').val(data.data.callPlan.visitType);
                    

                    $("#EditCallPlan").modal("show");

                }
            });
        }
                        //function Edit(id) {
                //    console.log(id,"id");
                //    $.get("@Url.Action("Edit","CallPlans")/" + id,
                //        function (data) {
                //            console.log("data",data)
                //            //$('#EditCallPlan').Val(id);
                //            $('#EditCallPlan').val(data.Result.id);
                //            $('#EditCallPlan').val($(this).data('Name'));
                //            $("#EditCallPlan").modal("show");
                //        });


                //}

                //function Details(id) {
                //    console.log(id, "id");
                //    $.get("@Url.Action("Details","CallPlans")/" + id,
                //        function (data) {
                //            //$('.modal fade').html(data);
                //            $('.modal-body').val($(this).data('id'));
                //            $('#partial').val($(this).data('Name'));
                //            $("#DetailsCallPlan").modal("show");
                //        });


                //}
    </script>
}

@await Html.PartialAsync("_CallPlanPartialView", new CallPlan())

