@model IEnumerable<CallPlanApp.Models.CallPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Call Plan</h1>

<p>
    <a asp-action="Create"><button type="button" style="float:right" class="btn btn-primary">ADD CALL PLAN</button></a>
</p>
<div>   
<table class="table table-responsive table-border ">
    <thead>
        <tr class="table-active table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complete)
            </th>
            <th>
                MORE
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitType)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Complete)*@
                        @*@(item.Complete ? "Yes" : "No")*@
                        @if(item.Complete)
                        {
                            <button type="button" class="btn btn-success">Yes</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-danger">No</button>
                        }
                    </td>
                    <td>
                        @*<div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                ...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>*@
                        @*<div class="dropdown dropdown-hover ">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu  dropdown-hover-menu " aria-labelledby="triggerId">
                                <button class="dropdown-item" href="#">Action</button>
                                <button class="dropdown-item disabled" href="#">Disabled action</button>
                            </div>
                        </div>*@
                        <div class="dropdown">
                            <button class="dropbtn">...</button>
                            <div class="dropdown-content">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan= "5">
                    <div>
                        No data available at this moment!
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>
</div>
